@use 'normalize'
@use 'header'
@use 'skills'
@use 'fluid' as *

//TODO: Darkmode
$body-bg: #f8f8f8
$font-cl: #1a1a1a

html
  scroll-behavior: smooth
  text-rendering: optimizeSpeed

body
  font-family: 'Inter'
  font-size: 15px
  background-color: $body-bg
  color: $font-cl

a
  text-decoration: none

h1, h2, h3, h4
  margin: 0
  margin-bottom: 0.75em

/* DRY (Don't Repeat Yourself)
header, .background, .soc-links, .btn-cont, .btn, .skills, .boxes-container, .boxes, footer
  display: flex

.btn, .btn-cont
  justify-content: center

.btn
  align-items: center
  width: 50px
  height: 50px
  margin-top: -25px
  color: black
  background-color: white
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25)
  border-radius: 50%

footer
  color: white
  height: 10vh
  margin-top: 3em
  background-image: linear-gradient(140deg, rgba(212, 0, 127, 0.75) 0%, rgba(152, 0, 162, 0.75) 35%, rgba(94, 0, 196, 0.75) 100%)
  justify-content: center
  align-items: center